:root { background-color: hsl(0, 0%, 0%); }
body { transform-origin: top left; }
#screen {
    height: 240px;
    width: 426.67px;
    background-color: hsl(0, 0, 15%);
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><rect width="10" height="10" style="fill:rgba(0,0,0,0.1)"/><rect x="10" y="10" width="10" height="10" style="fill:rgba(0,0,0,0.1)"/></svg>');
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -120px;
    margin-left: -213.34px;
    image-rendering: pixelated;
    overflow: hidden;
}
#sonic {
    image-rendering: pixelated;
    position: absolute;
    z-index: 3;
}
.hitbox {
    box-sizing: border-box;
    position: absolute;
    background-color: hsla(170, 100%, 60%, 0.5);
    display: none;
    z-index: 10
}
#zoomButtonPlus { left: 42px; }

#floor {
    box-sizing: border-box;
    position: absolute;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"><rect width="15" height="15" style="stroke-width:2;stroke:rgb(0,200,0);fill:rgba(0,0,0,0)"/><line x1="1" y1="1" x2="14" y2="14" style="stroke:rgb(0,90,0);stroke-width:1" /><line x1="14" y1="1" x2="1" y2="14" style="stroke:rgb(0,90,0);stroke-width:1" /></svg>');
    z-index: 4;
}
#jumpAudio {
    visibility: hidden;
}